html {
scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'yeseva one';
}

nav{
    width: 100%;
    top: 0;
    background: white;
    overflow: hidden;
    position: fixed;
    border-style: solid;
    z-index: 9999;
    border-color: black; 
    border-width: thin;
}

ul{
    padding: 5px; 
    margin: 5;
    overflow: hidden;
    list-style: none;
}
li{
    float: left; 
}
a{
    padding: 14px;
    width: 100%;
    text-decoration: none;
    text-transform: lowercase;
    color: rgb(3, 4, 4);
    font-size: 20px;
    font-family: 'yeseva one';
    display: flex;
}
#page1 {
    width: 100%;
    display: flex;
    background: linear-gradient(to right,
        rgb(249, 211, 211) 0%,
        rgb(241, 219, 186) 60%,
        rgb(255, 255, 254) 50%,
        rgb(253, 253, 251)100%); 
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
} 
h1{
    position: relative;
    left: 30px;
}
.square{
    height: 396px;
    width: 35%;
    background-color: rgb(248, 247, 232);
    right: 120px;
    position: absolute;
}
.computer{
    height: 395px;
    width: 75%;
    padding: 150px;
    margin-top: 50px; 
    z-index: 1; 
}
#page2{
    width: 100%;
    min-height: 80vh;
    align-items: center;
    background: rgb(243, 225, 176); 
}
.text{
    width: 300px;
    right: 10px;
    align-items: center;
    position: relative;
    left: 850px;
    top: 300px;

}
h1{
    font-size: 60px;
    color: rgb(7, 17, 79); 
}

.profilepic{
    width: 22%;
    height: 430px;
    border-radius: 70%;
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 10px;
    position:relative;
    left: 145px;
    top: -90px;

}

#page3{
    width: 100%;
    /* display: flex; */
    min-height: 70vh;
    background: rgb(248, 232, 241);
}
.container{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.box {
    float: left;
    padding: 0 8px;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    margin: 35px;
    text-align: center;
    background-color: rgb(249, 246, 242);
    flex-direction: row; 
    border: 5px solid;
}

#page4{
    width: 100%;
    display: flex;
    min-height: 90vh;
    background: rgb(248, 233, 208);
}
.four-header{
    font-size: 45px;
}
h3{
    font-size: 25px;
    text-align: center;
    top: 150px;
}
form {
    max-width: 300px;
    margin: 50px;
    float: center;
    bottom: 30px;
}
.feedback-input {
    color: black;
    font-family: 'yeseva one';
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 24px;
    border: 2 px green;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {border:2px solid black; }

textarea{
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
[type="submit"] {
    font-family: 'yeseva one';
    width: 100%;
    background: white;
}

@media screen and (max-width: 600px){
    html{
        scroll-behavior: smooth;
        margin: 0px;
        padding: 0px;
        width: 100%;
        /* overflow: hidden; */
    }
    body{
        width: 100%;
        margin: 0px;
        padding: 0px;
        /* position: relative; */
        /* overflow: hidden; */
    }
    nav {
        width: 93%;
        height: 60px; 
        font-size: 14px;
    }
    /* a{
        width: 100%;
        font-size: 12px; 
    } */
    #page1 {
        height: 60px;
        width: 100%;
        background-color: pink;
    } 

    .square {
        display: none;
    } 

    .computer {
    display: none;
    }

    .first-header { 
        font-size: 40px;
    }
    #page2 {
        height: 100px;
        width: 100%;
        overflow: hidden; 
    }
    h1{
        font-size: 40px;  
    }
    .profilepic{
        height: 300px;
        width: 160px;
        margin-top: -200px;
        left: 80px;
    } 
  
    /* display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh; 
    } */

    /* h1{
        font-size: 10px;
        right: 1px;
        position: 90px; */
    #page2{
        height: 60px;
        width: 100%;
        background: rgb(255, 237, 192);
    } 
    #page3{
        height: 120px;
        background-color: pink;
    }
    /* .container{
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .box {
        float: left;
        padding: 0 8px;
        height: 150px;
        width: 150px;
    } */
    #page4{
        height: 60px;
        width: 100%;
    } 
    .contact{
        width: 60%;
    }
    h3{
        font-size: 20px;
        text-align: center;
        top: 150px;
    }
    form {
        max-width: 600px; 
    }
}
