html{ 
    scroll-behavior: smooth;
}
body{
    margin: 0; 
    padding: 0; 
    font-family: Ariel;
}
nav{
    width: 100%;
    top: 0;
    background: rgb(247, 240, 226);
    overflow: hidden;
    position: fixed; 
    border-style: ridge;
    z-index: 9999;
    border-color:rgb(4, 3, 2);
    border-width: thin;
}
ul{
    padding: 5px;
    margin: 5;
    overflow: hidden;
    list-style: none;
}
li{ 
    float: left;
}
a{
    padding: 14px;
    width: 100px;
    text-decoration: none;
    text-transform: lowercase;
    color: black;
    font-weight:lighter;
    font-family: 'optima';  
    display: flex;
}
#page1{ 
    height: 800px;
    background: rgb(247, 240, 226); 
    display: inline-block;
    width: 100%;  
}
.first-header{
    margin: 150px; 
    text-align: left;
    padding: 0;  
    position: left;
}
.rectangle1{
    width: 550px;
    height: 440px;
    position: absolute;
    right: 85px;
    bottom: 150px;
    display: inline-block;
    background-color: rgb(177, 213, 198);
}
.rectangle2{
    width: 550px;
    height: 440px;
    position: absolute;
    top: 20%;
    right: 100px;
    bottom: 2000px;
    background: rgb(227, 213, 195);


}

#page2{ 
    height: 755px;
    background: rgb(227, 213, 195); 
    display: inline-block;
    width: 100%;  
}
.oval{
    width: 350px;
    height: 430px;
    border-radius: 70%;
    background-color: rgb(227, 213, 195);
    border-style: solid;
    border-color: black;
    border-width: thin;
}
.two-header{
    margin: 100px; 
    text-align: center; 
}
#page3{ 
    height: 755px;
    background: rgb(247, 240, 226);  
    display: inline-block;
    width: 100%;  
    margin-top: 50px
}
#page4{ 
    height: 755px;
    background: rgb(227, 213, 195);
    display: inline-block;
    width: 100%;  
}